.tabItem {
  list-style-type: none;
  padding: 10px;
  border-bottom: 2px solid #dfe2e5;
  padding-bottom: 0px;
}

.selectedtabItem {
  margin-bottom: 1px;
  list-style-type: none;
  padding: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid #2563eb;
}

.selectedtabName {
  background-color: transparent;
  color: #2563eb;
  border: none;
  outline: none;
  margin: 0;
  font-size: 18px;
  font-weight: 500;
}

.tabName {
  background-color: transparent;
  border: none;
  outline: none;
  color: #7b8794;
  margin: 0;
  font-size: 18px;
  font-weight: 500;
}
